head
	title Frontend developer Ilya Komichev - ilko.me

	// meta 
	meta(charset="utf-8")
	meta(name="format-detection" content="telephone=no")

	// favicon 
	link(rel="icon" type="image/png" href="favicon.png")
	
	// viewport
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// styles 
	link(href="css/styles.css", rel="stylesheet")