reset-all()
borderbox-all()

html
	height 100%

.l-body
	color #111
	background #f4f4f4

.ilkome
	position relative
	height 100%
	min-width 320px

.l-wrap
	position relative
	margin 0 auto
	@media xl
		max-width 900px
	
	@media large
		max-width 1300px
		


.l-content
	position relative
	max-width 1400px
	margin 0 auto
	padding-bottom 30px
	
	@media sm
		padding 30px 30px
	
	@media xl
		padding-top 30px
		max-width 900px
	
	@media large
		max-width 1300px
		padding 50px 50px 50px 410px
	
	@media xlarge
		padding 50px 25px 50px 450px
	
.l-row
	@extend .l-wrap
	wrap()
	
	@media sm
		gutter(15px)
	
	@media large
		gutter(25px)

.hireme
	padding 30px 30px
	&-in
		@extend .l-wrap