a
	display inline-block
	color #fa6513
	border-bottom 1px solid #fa6513
	tdn()
	font-family fRoboto
	anim()
	&:hover
		border-color #fff

.btn-hire
	display block
	padding 20px
	max-width 500px
	margin 0 auto
	color #fff
	font-size 20px
	text-align center
	border none
	background #fa6513
	border-radius 5px
	tdn()
	anim()
	&:hover
		background #000