// Lists
// ===============================================
ul
	margin 0 0 30px 5px
	
	li
		margin 0 0 10px 15px
		list-style disc outside
		
		ul, ol
			margin 15px 0 10px 0

ol
	margin 0 0 30px 0
	
	&.is-padding-big
		li
			margin-bottom 15px
	
	li
		margin 0 0 10px 20px
		list-style decimal outside
		
		ul, ol
			margin 15px 0 10px 0

.no-list-style 
	margin 0
	
	li
		margin-left 0
		list-style-type none