// Typography
// ===============================================
.l-body
	font 16px fRoboto

p
	margin-bottom 20px

h1, h2, h3, h4, h5, h6
	font-family fRoboto
	margin-bottom 20px
	&.is-nopadding
		margin-bottom 0

h1
	font-size 30px
	
h2
	font-size 26px
	
h3
	font-size 24px