extends inc/layout

block append content
	.l-row
		.box.box_full
			.box-in
				.box-name.box-name_extra
					h2 ilkome gulp
					p Fronend base template 
					p Version 2
				
				.boxItem 
					h3 What do you need
					ol
						li Nodejs
						li Gulp
						li Progect files

				.boxItem
					h3 Instalation
					ol.is-padding-big
						li 
							| First install node.js via 
							a(href="http://nodejs.org/") the download page
						li After installation finished restart your computer.
						li 
							| Run this command for install Gulp globaly:
							pre: code npm install gulp -g
						li Now we're need to update modules. Open the progect folder and run this command:
							pre: code npm update
					p All right! We're done with installation.
				
				.boxItem
					h3 Run project
					p 
						| In project folder run command:
						pre: code gulp
				
				.boxItem
					h3 Information
					p See more in gulpfile.js
				
				.boxItem
					h3 Structure
					ul
						li 
							strong gulpfile.js - 
							| Gulp settings
						li 
							strong gulp-run.cmd - 
							| Run Gulp (only for Windows users)
						li
							strong site - 
							| compiled filed
						li
							strong source - 
							| sourses of jade and stylus
	
	include inc/hireme