extends inc/layout

block append content
	.l-row
		.box.box_minheight
			.box-in
				.box-name 
					h2 Contacts
					p Let's chat with me
				ul
					li
						| Email: 
						strong hi@ilko.me
					li
						| Telegram, WhatsApp, Viber: 
						strong +79159760715
					li
						a(href="http://vk.com/ilkome") VK
						a(href="http://facebook.com/ilkome") Facebook
		.box.box_minheight
			.box-in
				.box-name 
					h2 Skills
					p I prefer to use best practices
				ul
					li HTML5, Jade
					li CSS, Stylus, Sass, Less
					li JavaScript, jQuery
					li ...more
		
	.l-row-full
		.box
			.box-in
				.box-name 
					h2 Portfolio
					p 
						| My latest works in the 
						a(href="https://bitbucket.org/ilkome") Bitbucket
				.boxItem 
					h3.is-nopadding GYEC
					p Landing page <br>JavaScripts: smart left menu and custom scrollbar
					.boxItem-links
						a(href="http://ilko.me/works/gyec/" target="_blank") Demo
						a(href="https://bitbucket.org/ilkome/gyec" target="_blank") Source
				.boxItem 
					h3.is-nopadding Big Data Project
					p Responsive fullscreen landing page with video
					.boxItem-links
						a(href="http://ilko.me/works/big-data-project/" target="_blank") Demo
						a(href="https://bitbucket.org/ilkome/big-data-project" target="_blank") Source

	.l-row
		.box
			.box-in
				.box-name 
					h2 Programs
					p What make my work better
				.boxItem Sublime Text, Photoshop, Avocode

		.box
			.box-in
				.box-name
					h2 Optimisation
					p I like to optimize my workflow
				.boxItem I use Gulp for make my work better.
		
	include inc/hireme