/*
	Ilya Komichev
	ilko.me
*/
code {
	display: block;
	margin: 10px 0;
	margin-bottom: 15px;
	padding: 10px;
	color: #fff;
	background: #222;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700|PT+Sans+Narrow:700");

select {
	width: auto;
	margin-bottom: 10px;
	padding: 4px 10px;
	background: #fff;
	border: 1px solid #c8d9eb;
	color: #819397;
	font-size: 16px;
}

select option {
	padding: 5px 10px;
}

select.full {
	width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
	width: 300px;
	margin-bottom: 10px;
	padding: 15px 15px;
	background: #fff;
	border: 1px solid #c8d9eb;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="phone"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
	background: #f4f9ff;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="phone"].error {
	border-color: #e44343;
	color: #e44343;
}

input[type="text"].valid,
input[type="password"].valid,
input[type="email"].valid,
input[type="phone"].valid {
	border-color: #3ac020;
}

input[type="submit"] {
	width: auto;
	padding: 15px 30px;
	border: none;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

input[type="submit"]:hover {
	background: #1aa257;
}

input[type="submit"]:active {
	opacity: 0.8;
}

textarea {
	width: 238px;
	max-width: 100%;
	height: 200px;
	margin-bottom: 10px;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #c8d9eb;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

textarea:hover,
textarea:focus {
	background: #f4f9ff;
}

textarea.full {
	width: 100%;
}

input[type="radio"] + label {
	cursor: pointer;
	margin: 0px 20px 0px 0;
}

input[type="radio"] + label::before {
	content: " ";
	display: inline-block;
	height: 18px;
	width: 18px;
	margin: 0 10px -3px 0px;
	background: url("../img/radio.png") no-repeat;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:disabled + label {
	cursor: default;
}

input[type="radio"] + label:hover::before {
	background-position: 0px 0px;
}

input[type="radio"]:checked + label::before {
	background-position: 0 -18px;
}

input[type="radio"]:disabled + label::before {
	background-position: 0px 0px;
	opacity: 0.8;
}

input[type="radio"]:checked:disabled + label::before {
	background-position: 0px -18px;
	opacity: 0.8;
}

input[type="checkbox"] {
	width: 21px;
	height: 21px;
	margin: 0 3px 0 0;
	vertical-align: top;
}

input[type="checkbox"] + label {
	cursor: pointer;
}

input[type="checkbox"]:not(checked) {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"]:not(checked) + label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 35px;
	font-size: 14px;
}

input[type="checkbox"]:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 0px;
	width: 21px;
	height: 21px;
	background: url("../img/checkbox-b.png") no-repeat;
}

input[type="checkbox"]:checked + label:after {
	background-position: 0 -21px;
}

input[type="checkbox"]:checked + label:before {
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

.l-body {
	color: #111;
	background: #f4f4f4;
}

.ilkome {
	position: relative;
	height: 100%;
	min-width: 320px;
}

.l-wrap,
.l-row,
.hireme-in,
.headerLogo-in,
.footer-in {
	position: relative;
	margin: 0 auto;
}

@media (min-width: 1020px) {
	.l-wrap,
  .l-row,
  .hireme-in,
  .headerLogo-in,
  .footer-in {
		max-width: 900px;
	}
}

@media (min-width: 1280px) {
	.l-wrap,
  .l-row,
  .hireme-in,
  .headerLogo-in,
  .footer-in {
		max-width: 1300px;
	}
}

.l-content {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding-bottom: 30px;
}

@media (min-width: 480px) {
	.l-content {
		padding: 30px 30px;
	}
}

@media (min-width: 1020px) {
	.l-content {
		padding-top: 30px;
		max-width: 900px;
	}
}

@media (min-width: 1280px) {
	.l-content {
		max-width: 1300px;
		padding: 50px 50px 50px 410px;
	}
}

@media (min-width: 1400px) {
	.l-content {
		padding: 50px 25px 50px 450px;
	}
}

.l-row {
	font-size: 0;
	display: block;
}

.l-row > * {
	position: relative;
	width: 100%;
	min-height: 1px;
	font-size: 1rem;
	vertical-align: top;
	display: inline-block;
}

@media (min-width: 480px) {
	.l-row {
		margin: 0 -15px;
	}

	.l-row > * {
		padding: 0 15px;
	}
}

@media (min-width: 1280px) {
	.l-row {
		margin: 0 -25px;
	}

	.l-row > * {
		padding: 0 25px;
	}
}

.hireme {
	padding: 30px 30px;
}

a {
	display: inline-block;
	color: #fa6513;
	border-bottom: 1px solid #fa6513;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

a:hover {
	border-color: #fff;
}

.btn-hire {
	display: block;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
	background: #fa6513;
	border-radius: 5px;
	text-decoration: none;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.btn-hire:hover {
	background: #000;
}

ul {
	margin: 0 0 30px 5px;
}

ul li {
	margin: 0 0 10px 15px;
	list-style: disc outside;
}

ul li ul,
ul li ol {
	margin: 15px 0 10px 0;
}

ol {
	margin: 0 0 30px 0;
}

ol.is-padding-big li {
	margin-bottom: 15px;
}

ol li {
	margin: 0 0 10px 20px;
	list-style: decimal outside;
}

ol li ul,
ol li ol {
	margin: 15px 0 10px 0;
}

.no-list-style {
	margin: 0;
}

.no-list-style li {
	margin-left: 0;
	list-style-type: none;
}

table {
	width: 100%;
}

table td {
	vertical-align: top;
}

.l-body {
	font: 16px 'Roboto', sans-serif;
}

p {
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}

h1.is-nopadding,
h2.is-nopadding,
h3.is-nopadding,
h4.is-nopadding,
h5.is-nopadding,
h6.is-nopadding {
	margin-bottom: 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

.header {
	position: relative;
	background: #242424 url("../img/bg-body.jpg") center center no-repeat;
	background-size: cover;
	padding: 40px 30px;
}

@media (min-width: 1280px) {
	.header {
		z-index: 10;
		position: fixed;
		width: 360px;
		height: 100%;
		vertical-align: top;
		box-shadow: 0px 0 10px rgba(0,0,0,0.3);
	}
}

@media (min-width: 1400px) {
	.header {
		width: 420px;
	}
}

@media (min-width: 1020px) {
	.headerLogo {
		max-width: 900px;
		position: relative;
		margin: 0 auto;
		padding: 0 20px;
	}
}

@media (min-width: 1280px) {
	.headerLogo {
		margin: 0 auto;
		position: absolute;
		left: 50%;
		bottom: 50px;
		margin-left: -65px;
	}
}

.headerLogo-in {
	padding-bottom: 30px;
}

@media (min-width: 1280px) {
	.headerLogo-in {
		padding: 0;
	}
}

.headerLogo-pic {
	display: block;
	width: 102px;
	height: 36px;
	background: url("../img/logo.png") no-repeat;
	border: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
	.headerLogo-pic {
		background: url("../img/logo@2x.png") no-repeat;
		background-size: 100% 100%;
	}
}

.headerInfo {
	text-align: center;
}

@media (min-width: 1280px) {
	.headerInfo {
		position: absolute;
		width: 100%;
		left: 0px;
		top: 50%;
		-webkit-transform: translateY(-55%);
		-ms-transform: translateY(-55%);
		transform: translateY(-55%);
	}
}

.headerInfo-ava {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 30px;
	background: #242424 url("../img/avatar.jpg") center center no-repeat;
	background-size: 110% 110%;
	border-radius: 50%;
	border: 3px solid rgba(0,0,0,0.3);
}

@media (min-width: 700px) {
	.headerInfo-ava {
		width: 200px;
		height: 200px;
	}
}

.headerInfo-name {
	text-align: center;
	color: #fa6513;
	font-size: 34px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.headerInfo-job {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}

.footer-copy {
	padding: 20px;
	font-size: 12px;
}

@media (min-width: 700px) {
	.footer-copy {
		padding: 20px 30px;
	}
}

@media (min-width: 1280px) {
	.footer-copy {
		padding: 30px 30px;
		font-size: 14px;
	}
}

@media (min-width: 700px) {
	.l-row .box {
		width: 50%;
	}
}

@media (min-width: 1280px) {
	.l-row .box {
		width: 50%;
	}
}

.box {
	margin-bottom: 30px;
}

@media (min-width: 1280px) {
	.box {
		margin-bottom: 50px;
	}
}

.box_full {
	width: 100%;
}

.box_minheight .box-in {
	min-height: 350px;
	padding-bottom: 0;
}

.box-in {
	min-height: 200px;
	padding: 35px 30px;
	background: #fff;
	box-shadow: 0px 0 10px rgba(0,0,0,0.1);
}

@media (min-width: 700px) {
	.box-in {
		padding: 50px;
	}
}

@media (min-width: 1400px) {
	.box-in {
		padding: 60px;
	}
}

.box-name {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.box-name h2 {
	font-size: 36px;
	line-height: 30px;
	margin-bottom: 15px;
}

.box-name p {
	margin-bottom: 5px;
	font-size: 14px;
}

.box ul {
	margin-bottom: 0;
}

.box ul li a {
	margin-right: 15px;
}

.boxItem {
	padding-bottom: 50px;
}

.boxItem:last-child {
	padding-bottom: 0px;
}

.boxItem a {
	margin-right: 15px;
}

.boxItem-links {
	margin-bottom: 0px;
}
