.l-row
	@media md
		.box
			col(2,1)
	
	@media large
		.box
			col(2,1)
	
		
.box
	margin-bottom 30px
	
	@media large
		margin-bottom 50px
		
	&_full
		col(1,1)
	&_minheight
		.box-in
			min-height 350px
			padding-bottom 0
	&-in
		min-height 200px
		padding 35px 30px
		background #fff
		box-shadow 0px 0 10px alpha(#000, .1)
		
		@media md
			padding 50px
			
		@media xlarge
			padding 60px
	
	&-name
		margin-bottom 30px
		padding-bottom 15px
		border-bottom 1px solid #ddd
		
		h2
			font-size 36px
			line-height 30px
			margin-bottom 15px
		
		p
			margin-bottom 5px
			font-size 14px
		
	ul
		margin-bottom 0
		
		li a
			margin-right 15px

.boxItem
	padding-bottom 50px
	
	&:last-child
		padding-bottom 0px
	a
		margin-right 15px
		
	&-links
		margin-bottom 0px