.header
	position relative
	background #242424 url("../img/bg-body.jpg") center center no-repeat
	background-size cover
	padding 40px 30px
	
	@media large
		z-index 10
		position fixed
		width 360px
		height 100%
		vertical-align top
		box-shadow 0px 0 10px alpha(#000, .3)
	
	@media xlarge
		width 420px

.headerLogo
	@media xl
		max-width 900px
		position relative
		margin 0 auto
		padding 0 20px
		
	@media large
		margin 0 auto
		position absolute
		left 50%
		bottom 50px
		margin-left -65px
	&-in
		@extend .l-wrap
		padding-bottom 30px
		
		@media large
			padding 0

	&-pic
		display block
		width 102px
		height 36px
		background url("../img/logo.png") no-repeat
		border none
		
		@media xdpi
			background url("../img/logo@2x.png") no-repeat
			background-size 100% 100%

.headerInfo
	text-align center
	
	@media large
		position absolute
		width 100%
		left 0px
		top 50%
		transform translateY(-55%);
	
	&-ava
		width 150px
		height 150px
		margin 0 auto
		margin-bottom 30px
		background #242424 url("../img/avatar.jpg") center center no-repeat
		background-size 110% 110%
		border-radius 50%
		border 3px solid alpha(#000, .3)
		
		@media md
			width 200px
			height 200px
	
	&-name
		text-align center
		color #fa6513
		font-size 34px
		font-family fRobotoCon
		letter-spacing 3px
		font-weight bold
		text-transform uppercase
		text-shadow 1px 1px 1px alpha(#000, .3)
	
	&-job
		color #fff
		font-size 14px
		letter-spacing 1px